# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model files (comment out if you want to push them to GitHub)
*.pkl
*.h5
*.keras

# Model folder
saved_models/
